<ul class="nav nav-tabs nav-justified">
	<li><a href="/educators/plan">Plan</a></li>
	<li class="active"><a href="/educators/teach">Teach</a></li>
</ul>

<div class="row">
	<div class="col-lg-12">
		<h3>Educational outcome</h3>
		<p><%= simple_format(@educationalOutcome) %></p>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<h3>Activities</h3>
		<div class="col-lg-12">
			<% @cards.each do |card| %>
				<%= render partial: "/books/card", locals: { card: card } %>
			<% end %>
		</div>
	</div>

	<div class="col-lg-6">
		<h3>Resources</h3>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Id</th>
		      <th><%= t(:name) %></th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @resources.each do |resource| %>
		      <tr>
		        <td><%= resource.id %></td>
		        <td><%= link_to resource.file_name, resource.file_name.to_s, :target => "_blank" %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>

<%= render :partial => "/cards/popUpsPackage" %>