<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel"><%= @card.name %></h4>
    </div>
    <div class="modal-body">
      <div class="well">
        <div class="media">
          <a class="pull-left" href="#">
            <img width="200" class="media-object img-thumbnail" src="http://4.bp.blogspot.com/-eeOpU2dlaE8/TuSULJIiA5I/AAAAAAAABqc/pMHOdgmsx_E/s1600/pato.jpg" alt="pato">
          </a>
          <div class="media-body">
            <div class="text-justify"><%= @card.description %></div>
            <span class="pull-right text-muted"><%= @card.genre %></span>
          </div>
        </div>
      </div>
      <!-- Attachments -->
      <% if user_signed_in? && !@card.attachments.empty? %>
        <h4>Attachments</h4>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @card.attachments.each do |attachment| %>
              <div class="item">
                <%= attachment.getPhoto(105,105).html_safe %>
              </div>
            <% end %>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      <% end %>

      <!-- Comments -->
      <% if user_signed_in? %>
        <h4>Comments</h4>
        <%= form_tag addComment_card_path(@card), :multipart => true, :type => :post do %>
          <%= text_area_tag :comment, nil, :class => 'form-control', :placeholder => "Add new comment here..." %>
          <%= submit_tag "Add comment", :class => 'btn btn-primary' %>
        <% end %>

        <% if !@card.comments.empty? %>
          <% @card.comments.each do |comment| %>
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading"><%= comment.user.name %> say at <%= distance_of_time_in_words_to_now(comment.created_at) %>:</h4>
                <%= comment.comment %>
              </div>
            </div>
            <div>
              
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<script>
  $(".carousel-inner .item:first").addClass("active");
</script>