<%= form_for @card, :html => { :class => 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :language, :class => 'control-label' %>
    <%= f.select :language, options_for_select([ ["Spanish","es"], ["English","en"] ], @card.language), {}, {:class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label' %>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :genre, :class => 'control-label' %>
    <%= f.select :genre, options_for_select([ ["Webcams","webcams"], ["Flora","flora"], ["Fauna","fauna"], ["Activities","activities"], ["Trails","trails"], ["Sites","sites"], ["Games","games"] ], @card.genre), {}, {:class => 'form-control'} %>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :bookOfKnowledge %> Show in book of knowledge?
    </label>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :educators %> Show in educators?
    </label>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cards_path, :class => 'btn btn-default' %>
  </div>
<% end %>

<h3>Attachments</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th><%= t(:name) %></th>
      <th><%= t(:photo) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @card.attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.id %></td>
        <td><%= attachment.file_name %></td>
        <td style="width: 50%" class="text-justify"><%= attachment.getPhoto(105,105).html_safe %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      removeAttachment_card_path(attachment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#uploadAttachmentModal">
  Launch demo modal
</button>

<!-- Modal -->
<%= form_tag 'uploadAttachment', :multipart => true, :type => :post do %>
<div class="modal fade" id="uploadAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">SUBE TU IMAGEN O VÍDEO</h4>
      </div>
      <div class="modal-body">
        <%= file_field_tag "upload", :class => "file_modalupload_input" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag 'Subir Foto', :class => "btn btn-primary file_modalupload_button" %>
      </div>
    </div>
  </div>
</div>
<% end %>
